<h1>THE SOUL OF BIKE</h1>
<p>Halfway across the Golden Gate Bridge, hundreds of feet above San Francisco Bay, is the southern boundary of a very different place. As you cross that line, you enter a different world, full of open space, quiet roads, and trails with amazing vistas—and far from the rush of city life. As the terrain changes, so too do the people. Life becomes less frenetic, more laid back, and more engaged with time and place. This is Marin County, the birthplace and home of Marin Bikes California.</p>
