<div class="panel panel-default">
	<div class="panel-body">
		<p>Thank you. We have reverived your message and will respond as soon as possible.</p>
  </div><!-- /panel-body -->
</div><!-- / pane; -->