// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
	margin: 0;
}

h1 {
	color: red;
}

.navbar-nav li {
	list-style: none;
	color: white;
  margin: 15px;
  padding-right: 80px;
  text-transform: uppercase;
}

#footer {
	clear: both;
}

